body {
  font-size: 24px;
  background-color: orange;
  margin: 0;
}
h1 {
  text-align: center;
  font-variant: small-caps;
  text-decoration: underline;
  margin-top: 0;
}
table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
}
table {
  background-color: #999;
  min-width: 100%;
}
th {
  background-color: #444;
  max-width: 150px;
}
a {
  text-decoration: none;
  color: black;
}
td {
  min-width: 5em;
  text-align: center;
  padding: 5px;
}
div {
  display: inline-block;
  width: 100%;
}
ul {
  width: 30%;
  float: left;
  margin-right: -10px;
  margin-bottom: 0;
}
